/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/barlow-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"), url("../fonts/barlow-v12-latin-regular.ttf") format("truetype"), url("../fonts/barlow-v12-latin-regular.svg#Barlow") format("svg"); /* Legacy iOS */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/barlow-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"), url("../fonts/barlow-v12-latin-500.ttf") format("truetype"), url("../fonts/barlow-v12-latin-500.svg#Barlow") format("svg"); /* Legacy iOS */
}
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/barlow-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), url("../fonts/barlow-v12-latin-600.woff") format("woff"), url("../fonts/barlow-v12-latin-600.ttf") format("truetype"), url("../fonts/barlow-v12-latin-600.svg#Barlow") format("svg"); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/barlow-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"), url("../fonts/barlow-v12-latin-700.ttf") format("truetype"), url("../fonts/barlow-v12-latin-700.svg#Barlow") format("svg"); /* Legacy iOS */
}
/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v30-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v30-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v30-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  font-family: "Barlow";
  background-color: #FEFCF7;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main__header__logo {
  width: 236px;
  height: 26px;
}

.main__header__container {
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__header__link {
  height: 15px;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.main__header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__header__item + .main__header__item {
  margin-left: 33px;
}

.main__header__btn {
  width: 16px;
  height: 16px;
  border-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url(../../img/burger__menu.svg);
  display: none;
}

@media screen and (max-width: 700px) {
  .main__header__btn {
    display: inline-block;
  }
  .main__header__content {
    display: none;
  }
}
.hero__box {
  padding: 117px 0;
  background-repeat: no-repeat;
  background-image: url(../../img/hero__img.png);
  height: 600px;
}

.hero__title {
  height: 145px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  margin-bottom: 32px;
}

.hero__block {
  margin-left: 85px;
}

.hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 445px;
  margin-bottom: 56px;
}

.hero__btn {
  background-color: #66D2CF;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  border: none;
}

@media screen and (max-width: 689px) {
  .hero__box {
    padding: 104px 0;
    background-repeat: no-repeat;
    background-image: url(../../img/hero__tablet.jpg);
    height: 500px;
  }
  .hero__title {
    height: 81px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #FEFCF7;
    max-width: 329px;
    margin-bottom: 24px;
  }
  .hero__block {
    margin-left: 58px;
  }
  .hero__text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 372px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 470px) {
  .hero__box {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-image: url(../../img/hero__phone.jpg);
    height: 500px;
  }
  .hero__title {
    height: 81px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
    max-width: 279px;
    margin-bottom: 24px;
  }
  .hero__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 279px;
    margin-bottom: 39px;
  }
}/*# sourceMappingURL=main.css.map */