

.choose__container {
    height: 200px;
    padding-bottom: 630px;
}

.choose__content {
    background-color: #2C343E;
    border-radius: 12px;
    padding-top: 100px;
    padding-bottom: 86px;
    text-align: center;
    position: relative;
}

.choose__title {
    height: 48px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.choose__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 540px;
    margin: 0 auto;
}

.choose__item {
    max-width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 47px;
    text-align: center;

    &::before{
        content: "";
        width: 72px;
        height: 72px;
        display: inline-block;
        margin-bottom: 56px;
        background-repeat: no-repeat;
        background-image: url(../img/choose__icon1.svg);
    }

    &:nth-child(2)::before{
        background-repeat: no-repeat;
        background-image: url(../img/choose__icon2.svg);
    }

    &:nth-child(3)::before{
        background-repeat: no-repeat;
        background-image: url(../img/choose__icon3.svg);
    }
}

.choose__sub-title {
    height: 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.choose__sub-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    color: #FEFCF7;
    max-width: 255px;
}

.choose__list{
    max-width: 1111px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.choose__box{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 240px;
    background-color: #2C343E;
    z-index: -1;
    top: 319px;
}

@media screen and (max-width:1240px){
    .choose__list{
        max-width: 90%;
    }
}

@media screen and (max-width:1070px){
    .choose__list{
        flex-direction: column;
    }

    .choose__item{
        display: flex;
        padding: 41px 48px 41px 70px;
        max-width: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        &::before{
            flex-shrink: 0;
            margin-bottom: 0;
        }
        height: 180px;
    }

    .choose__item__content{
        max-width: 344px;
        margin-left: 55px;
    }

    .choose__sub-title{
        text-align: start;
        margin-bottom: 16px;
    }

    .choose__sub-text{
        text-align: start;
        max-width: 344px;
        height: 50px;
    }

    .choose__box{
        height: 350px;
    }

    .choose__container {
        padding-bottom: 830px;
    }
}

@media screen and (max-width:620px){
    
    .choose__item{
        flex-direction: column;
        max-width: 279px;
        height: 382px;
        padding: 72px 12px 51px 12px;
        text-align: center;
        &::before{
            margin-bottom: 56px;
        }
    }

    .choose__item__content{
        max-width: 255px;
        height: 131px;
        margin-left: 0;
    }

    .choose__sub-title{
        text-align: center;
    }

    .choose__sub-text{
        text-align: center;
    }

    .choose__container {
        padding-bottom: 1430px;
    }
    
}